.red {
    background: red;
    width: 400px;
    height: 400px;
}
.purple {
    background: purple;
    width: 300px;
    height: 300px;
    position: relative;
    left: 50px;
    top: 50px;
    right: 50px;
    bottom: 50px;
}
.yellow {
    background: yellow;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 58px;
    top: 168px;
    right: 270px;
    bottom: 50px;
}
.blue {
    background: blue;
    width: 400px;
    height: 400px;
}
.green {
    background: green;
    width: 200px;
    height: 200px;
    position: relative;
    left: 100px;
    top: 100px;
    right: 50px;
    bottom: 50px;
}
.black {
    background:black;
    width: 100px;
    height: 100px;
    position: relative;
    left: 0px;
    bottom: 50px;
    top: -200px;

}